html, body {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    left: 300px;
    top: 42px;
    width: 100%;
    height: 100%;
    transform-origin: 0 0 0;
    transform: translate(0,0) scale(1);
}

#item {
    position: absolute;
}